<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
      <style type="text/css">
        body{color:#efd;background:#417690;padding:0 5em;margin:0;
            font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;}
        h1{padding:2em 1em;background:#79AEC8;color:#F5DD5D;
            font-weight: 300;}
        h2{color:#80BEDD;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>

      <body>
        <h1>Timi的blog</h1>
        <h3>Σ(っ °Д °;)っ </h3>
        {% block content %}
        {% endblock %}
      </body>
</html>