<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>杨哲迪的个人网站 - Yang Zhedi's Personal Website</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/48.png">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5fecb0ea9c67d034070dddba31049aeb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c95ecd4deac84d09e9e2f8a51711d3f1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
    <div id="app"></div>
</body>
<script type="text/javascript" src="../static/js/build/bundle.js"></script>
</html>