<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main{
            height: 300px;
            background-color: #f66;
            opacity: .5;
        }
        body{color:#fff;background:#fff;padding:0 5em;margin:0}
    </style>
</head>
<body>
{#    {% extends "base.html" %}#}
{#        {% block content %}#}
            <div class="main">
            <h3>the head of main</h3>
            <p>the content of main </p></div>
{#        {% endblock %}#}
</body>
</html>