<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Timi blog</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
{#{% extends "base.html" %}#}
    <div style="margin: 0 auto;width: 60%">
        {% block content %}
            <h2>{{  post.title }}</h2>
            <p>{{ post.timestamp | date:"1,F jS"}}</p>
            {# 富文本显示 #}
    {#        {% autoescape off %}#}
            {% load djangomarkdown %}
    {#        {% load markdown_deux_tags %}#}
                {{post.body | djangomarkdown }}
    {#        {% endautoescape %}#}
        {% endblock %}
    </div>
</body>
</html>