body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
	font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
footer {
	margin: 50px 0;
}
a {
    color: #428bca;
    text-decoration: none;
}
/*index.html样式*/
.navbar{
	height: 70px;
	background-color:#417690;
}
.navbar-inverse {
    border-color:#417690;
}
.navbar-header > .navbar-brand{
	color:#f5dd5d;
	font-size: 24px;
	line-height: 45px;
}
.blog-header{
	width:100%;
	height: 50px;
	background-color: #5bc0de;
}


/*BlogBox style is here*/
.blog-box{
	width: 100%;
	margin-bottom:70px;
}
.blog-box p{
	width: 90%;
	word-break: break-all;
}
.blog-box h2 a{
	color:#428bca;
}
.blog-box h2 a:hover{
	color:#417690;
}
.blog-box span a{
	color:black;
	text-decoration: underline;
}
.blog-box span a:hover{
	color:#428bca;
}
.blog-tag{
	display: inline-block;
	margin: 0 10px 5px 0;
	background-color: #eee;
	padding: 5px;
	border-radius: 4px;
}



/*index2样式*/
.left-arrow,.right-arrow{
	color:red;
}
.paginator-nums{
	display:inline-block;
}