body {
	margin-top: 0; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
	font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    /*background: #f5f2f0;*/
}
footer {
	margin: 50px 0;
}
a {
    color: #428bca;
    text-decoration: none !important;
}
a:hover{
    text-decoration: none;
}
button[disabled]{
	cursor: not-allowed;
}
.route-li{
	font-size: 25px;
	display: inline-block;
    margin-right: 30px;
	line-height: 70px;
}
.route-li.first{
    margin-left: 15%;
}
/*.route-ul :first-child{
    margin-left: 15%;
}*/
.route-li a{
    color:#f5dd5d;
    text-decoration: none;
}
.route-li a:hover{
    color:#f5f2f0;
}
.route-ul{
    height: 70px;
    background-color: #417690;
    width: 100%;
}
/*index.html样式*/
.navbar{
	height: 70px;
	background-color:#417690;
}
.navbar-inverse {
    border-color:#417690;
}
.navbar-header > .navbar-brand{
	color:#f5dd5d;
	font-size: 24px;
	line-height: 45px;
}
.blog-header{
	width:100%;
	height: 50px;
	background-color: #5bc0de;
}

.app-container{

}
.context-container{
    width:60%;
	margin: 0 auto 100px;
}
.foot-container{
	width:60%;
	margin: 0 auto;
}




/*BlogBox style is here*/
.blog-container{
	width:60%;
	margin: 0 auto 100px;
}

.blog-box{
	width: 100%;
	margin-bottom:70px;
    position: relative;
}
.blog-box p{
	width: 90%;
	word-break: break-all;
}
.blog-box h2 a{
	color:#428bca;
    text-decoration: none;
}
.blog-box h2 a:hover{
	color:#417690;
    text-decoration: none;
}
.blog-box span a{
	color:black;
	text-decoration: none;
}
.blog-box span a:hover{
	color:#428bca;
}
.blog-tag{
	display: inline-block;
	margin: 0 10px 5px 0;
	background-color: #eee;
	padding: 5px;
	border-radius: 4px;
}
.blog-list{
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.blog-list p{word-break:break-all;}

.item-head .ico{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 2px 0 0;
}

.item-head .ico-Original {
    background-image: url(../imgs/skin-type-icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
}
.item-head .ico-Repost {
    background-image: url(../imgs/skin-type-icon.png);
    background-repeat: no-repeat;
    background-position: -50px 0px;
    vertical-align: middle;
}
.item-head .ico-Translate {
    background-image: url(../imgs/skin-type-icon.png);
    background-repeat: no-repeat;
    background-position: -25px 0;
    vertical-align: middle;
}
/*index2样式*/
.left-arrow,.right-arrow{
	color:red;
}
.paginator-nums{
	display:inline-block;
}

/*股票样式*/
.stock-link{
	display: none;
}
.stock-link.show{
	display: block;
}
.spider-button{
	/*display: block;*/
}


/*code*/
pre code{
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    font-size: 1.1em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
pre{
	background-color: #f7f7f9;
    padding: 30px;
    border: 2px solid;
    border-radius: 13px;
}
p code, li code{
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 5px;
	text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    font-size: 1.1em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}